@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --navy: 210 64% 24%;
  }
}
 
@layer base {
  body {
    @apply bg-gray-100;
  }
}